/* Global + reusable + hamburger menu *********************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

body {
  overflow-x: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #fff; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; }

.hamburger {
  display: none;
  position: absolute;
  right: 55px;
  top: 38px;
  height: 50px;
  width: 50px;
  cursor: pointer; }
  .hamburger .bar {
    width: 50px;
    height: 4px;
    background: #fed136;
    transition: all 0.3s;
    position: relative;
    right: 5px;
    top: 15px; }
    .hamburger .bar::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 4px;
      background: #fed136;
      top: 15px;
      transition: all 0.3s; }
    .hamburger .bar::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 4px;
      background: #fed136;
      bottom: 15px;
      transition: all 0.3s; }

/* Header **********************************************/
header {
  position: relative;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url(https://images.pexels.com/photos/1712/sunglasses-apple-iphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(https://images.pexels.com/photos/1712/sunglasses-apple-iphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  header nav.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px; }
    header nav.container .menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header nav.container .menu ul li a {
        padding: 15px;
        font-size: 14px;
        font-weight: 700;
        line-height: 41px;
        text-transform: uppercase; }
    header nav.container .brand {
      z-index: 3; }
      header nav.container .brand a {
        color: #fed136;
        font-family: 'Dancing Script';
        font-size: 26px;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: 1.3px; }
  header .hero.container {
    text-align: center;
    margin-top: 170px;
    color: #ffffff; }
    header .hero.container .hero-title h1 {
      font-family: 'Lato', sans-serif;
      font-size: 40px;
      font-style: italic;
      letter-spacing: -1px; }
    header .hero.container .hero-title h2 {
      font-size: 65px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -1.88px; }
    header .hero.container .hero-btn {
      margin-top: 80px; }
      header .hero.container .hero-btn a {
        padding: 25px 50px;
        background: #fed136;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase; }

/* Services **********************************************/
.services {
  text-align: center;
  padding: 145px 0 120px 0; }
  .services h1 {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 20px; }
  .services h2 {
    color: #777777;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 80px; }
  .services .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .services .boxes .item {
      -ms-flex-preferred-size: 33.33334%;
      flex-basis: 33.33334%; }
      .services .boxes .item h3 {
        color: #222222;
        font-size: 18px;
        font-weight: 700;
        line-height: 75px;
        letter-spacing: -0.45px; }
      .services .boxes .item p {
        color: #777777;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.35px;
        line-height: 20px; }

/* Portfolio **********************************************/
.portfolio {
  background: #f4f4f4;
  text-align: center;
  padding: 120px 0; }
  .portfolio h1 {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: -1px; }
  .portfolio h2 {
    color: #777777;
    font-family: "Lato";
    font-size: 16px;
    font-style: italic;
    margin-bottom: 80px; }
  .portfolio .container .boxes .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .portfolio .container .boxes .row .row-item {
      -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
      margin-bottom: 40px;
      transition: all 0.3s; }
      .portfolio .container .boxes .row .row-item .item-img img {
        width: 100%;
        height: 350px;
        -o-object-fit: cover;
        object-fit: cover;
        display: block; }
      .portfolio .container .boxes .row .row-item .item-text {
        padding: 25px 0;
        background: #ffffff; }
        .portfolio .container .boxes .row .row-item .item-text h3 {
          color: #333333;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: -0.45px; }
        .portfolio .container .boxes .row .row-item .item-text h4 {
          color: #737373;
          font-family: "Lato";
          font-size: 14px;
          font-style: italic; }

/* About **********************************************/
.about {
  padding: 120px 0; }
  .about h1 {
    text-align: center;
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: -1px; }
  .about h2 {
    text-align: center;
    color: #777777;
    font-family: "Lato";
    font-size: 16px;
    font-style: italic;
    margin-bottom: 80px; }
  .about .boxes .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 100px;
    position: relative; }
    .about .boxes .row::before {
      content: '';
      position: absolute;
      width: 3px;
      height: 105px;
      background: rgba(219, 219, 219, 0.603);
      left: 50%;
      bottom: -100px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .about .boxes .row .row-text {
      text-align: right;
      margin-right: 50px;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      margin-left: 149px; }
      .about .boxes .row .row-text h3 {
        color: #222222;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.45px;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 20px; }
      .about .boxes .row .row-text p {
        color: #777777;
        font-family: "Lato";
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.35px; }
    .about .boxes .row .row-img {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }
      .about .boxes .row .row-img img {
        width: 200px;
        height: 200px;
        display: block;
        border-radius: 50%;
        border: 6px solid rgba(219, 219, 219, 0.603);
        -o-object-fit: cover;
        object-fit: cover; }
  .about .boxes .row-different {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 100px;
    position: relative; }
    .about .boxes .row-different::before {
      content: '';
      position: absolute;
      width: 3px;
      height: 105px;
      background: rgba(219, 219, 219, 0.603);
      left: 50%;
      bottom: -100px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .about .boxes .row-different .row-text {
      text-align: left;
      margin-right: 146px;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      margin-left: 50px; }
      .about .boxes .row-different .row-text h3 {
        color: #222222;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.45px;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 20px; }
      .about .boxes .row-different .row-text p {
        color: #777777;
        font-family: "Lato";
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.35px; }
    .about .boxes .row-different .row-img {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }
      .about .boxes .row-different .row-img img {
        width: 200px;
        height: 200px;
        display: block;
        border-radius: 50%;
        margin-left: 95px;
        border: 6px solid rgba(219, 219, 219, 0.603);
        -o-object-fit: cover;
        object-fit: cover; }
  .about .row-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 498px;
    border: 6px solid rgba(219, 219, 219, 0.603);
    background: #fed136; }
    .about .row-circle p {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.45px; }

/*# sourceMappingURL=style.css.map */
