/* Header **********************************************/
header .container .menu ul li a {
  position: relative; }
  header .container .menu ul li a::before {
    position: absolute;
    content: '';
    height: 0;
    width: 3px;
    left: 0;
    top: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    background: #fed136;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  header .container .menu ul li a::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0px;
    background: #fed136;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  header .container .menu ul li a:hover::before {
    height: 80%; }
  header .container .menu ul li a:hover::after {
    width: 100%; }

/* Portfolio **********************************************/
.portfolio .container .boxes .row .row-item:hover {
  box-shadow: 2px 3px 4px 2px rgba(219, 219, 219, 0.603);
  transform: translateY(-4px);
  cursor: pointer; }

/* Team **********************************************/
.team .container .boxes .item .item-socials ul li a span:hover {
  -webkit-box-shadow: 0 0 1px 4px #fed136;
  box-shadow: 0 0 1px 4px #fed136;
  transform: translateY(-3px); }

/* Brands **********************************************/
.brands .box img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  cursor: pointer; }

/* Contact **********************************************/
.contact .container form input[type=submit]:hover {
  cursor: pointer; }

.contact .container form input[type=text]:focus,
.contact .container form input[type=mail]:focus,
.contact .container form textarea:focus {
  box-shadow: 0 0 0 2px #fed136; }

/* Footer **********************************************/
footer ul li a span:hover {
  -webkit-box-shadow: 0 0 1px 4px #fed136;
  box-shadow: 0 0 1px 4px #fed136;
  transform: translateY(-3px); }

/* Header **********************************************/
@media (max-width: 1265px) {
  header nav.container {
    flex-direction: column; } }
@media (max-width: 860px) {
  header .hero.container .hero-title h1 {
    font-size: 25px; }
  header .hero.container .hero-title h2 {
    font-size: 60px; } }
@media (max-width: 770px) {
  header nav.container .menu {
    opacity: 0;
    position: absolute;
    top: -500px; }
  header nav.container .brand {
    margin-right: 80%; }
  header nav.container .hamburger {
    display: block; }
  header nav.container .hamburger.active .bar {
    background: rgba(0, 0, 0, 0); }
    header nav.container .hamburger.active .bar::before {
      transform: rotate(45deg) translateY(-21px) translateX(1px); }
    header nav.container .hamburger.active .bar::after {
      transform: rotate(-45deg) translateY(23px); }
  header nav.container .menu.active {
    opacity: 1;
    position: absolute;
    top: 0;
    transition: all 0.3s; }
  header nav.container .menu-list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 98vw;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    transition: all 0.3s; } }
@media (max-width: 540px) {
  header .hero.container .hero-title h1 {
    font-size: 15px; }
  header .hero.container .hero-title h2 {
    font-size: 50px; }
  header .brand a {
    margin-left: 50px; } }
/* Services **********************************************/
@media (max-width: 1265px) {
  .services .boxes {
    flex-direction: column; }
    .services .boxes .item {
      margin: 20px 0; }
      .services .boxes .item p {
        width: 50%;
        margin-left: 25%; } }
/* Portfolio **********************************************/
@media (max-width: 1265px) {
  .portfolio .container .boxes .row .row-item {
    min-width: 48%;
    margin: 5px; } }
@media (max-width: 860px) {
  .portfolio .container .boxes .row {
    margin-bottom: 1px; }
    .portfolio .container .boxes .row .row-item {
      min-width: 70%;
      margin: 30px auto; } }
/* About **********************************************/
@media (max-width: 1265px) {
  .about.container .boxes .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .about.container .boxes .row .row-text {
      flex-basis: 50%;
      margin: 0;
      text-align: center; }
      .about.container .boxes .row .row-text p {
        width: 50%;
        margin-left: 25%; }
    .about.container .boxes .row .row-img {
      flex-basis: 50%;
      margin: 0 auto; }
      .about.container .boxes .row .row-img img {
        margin: 25px 0; }
    .about.container .boxes .row::before {
      display: none; }
  .about.container .row-circle {
    margin: 0 auto; }

  .about.container .boxes .row-different {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .about.container .boxes .row-different .row-text {
      flex-basis: 50%;
      margin: 0;
      text-align: center;
      order: 1; }
      .about.container .boxes .row-different .row-text p {
        width: 50%;
        margin-left: 25%; }
    .about.container .boxes .row-different .row-img {
      flex-basis: 50%;
      margin: 0 auto;
      order: 2; }
      .about.container .boxes .row-different .row-img img {
        margin: 25px 0; }
    .about.container .boxes .row-different::before {
      display: none; } }
/* Team **********************************************/
@media (max-width: 1265px) {
  .team .container p {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px; }
  .team .container .boxes {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .team .container .boxes .item {
      min-width: 51%;
      margin-bottom: 60px; } }
/* Brands **********************************************/
@media (max-width: 1265px) {
  .brands {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .brands .box {
      min-width: 30%; } }
@media (max-width: 700px) {
  .brands.container {
    display: none; } }
/* Contact **********************************************/
@media (max-width: 1265px) {
  .contact .container form {
    min-width: 80%; }
    .contact .container form .data {
      min-width: 80%; }
    .contact .container form .message {
      min-width: 80%;
      margin-top: 23px; }
    .contact .container form input[type=submit] {
      display: block; } }
/* Footer **********************************************/
@media (max-width: 1080px) {
  footer ul {
    min-width: 30%; } }
@media (max-width: 700px) {
  footer ul {
    min-width: 40%; } }
@media (max-width: 500px) {
  footer ul {
    min-width: 50%; } }
@media (max-width: 380px) {
  footer ul {
    min-width: 70%; } }
/* Global + reusable + hamburger menu *********************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

body {
  overflow-x: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #fff; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; }

.hamburger {
  display: none;
  position: absolute;
  right: 55px;
  top: 38px;
  height: 50px;
  width: 50px;
  cursor: pointer; }
  .hamburger .bar {
    width: 50px;
    height: 4px;
    background: #fed136;
    transition: all 0.3s;
    position: relative;
    right: 5px;
    top: 15px; }
    .hamburger .bar::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 4px;
      background: #fed136;
      top: 15px;
      transition: all 0.3s; }
    .hamburger .bar::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 4px;
      background: #fed136;
      bottom: 15px;
      transition: all 0.3s; }

/* Header **********************************************/
header {
  position: relative;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url(https://images.pexels.com/photos/1712/sunglasses-apple-iphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(https://images.pexels.com/photos/1712/sunglasses-apple-iphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  header nav.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px; }
    header nav.container .menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header nav.container .menu ul li a {
        padding: 15px;
        font-size: 14px;
        font-weight: 700;
        line-height: 41px;
        text-transform: uppercase; }
    header nav.container .brand {
      z-index: 3; }
      header nav.container .brand a {
        color: #fed136;
        font-family: 'Dancing Script';
        font-size: 26px;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: 1.3px; }
  header .hero.container {
    text-align: center;
    margin-top: 170px;
    color: #ffffff; }
    header .hero.container .hero-title h1 {
      font-family: 'Lato', sans-serif;
      font-size: 40px;
      font-style: italic;
      letter-spacing: -1px; }
    header .hero.container .hero-title h2 {
      font-size: 65px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -1.88px; }
    header .hero.container .hero-btn {
      margin-top: 80px; }
      header .hero.container .hero-btn a {
        padding: 25px 50px;
        background: #fed136;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase; }

/* Services **********************************************/
.services {
  text-align: center;
  padding: 145px 0 120px 0; }
  .services h1 {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 20px; }
  .services h2 {
    color: #777777;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 80px; }
  .services .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .services .boxes .item {
      -ms-flex-preferred-size: 33.33334%;
      flex-basis: 33.33334%; }
      .services .boxes .item h3 {
        color: #222222;
        font-size: 18px;
        font-weight: 700;
        line-height: 75px;
        letter-spacing: -0.45px; }
      .services .boxes .item p {
        color: #777777;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.35px;
        line-height: 20px; }

/* Portfolio **********************************************/
.portfolio {
  background: #f4f4f4;
  text-align: center;
  padding: 120px 0; }
  .portfolio h1 {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: -1px; }
  .portfolio h2 {
    color: #777777;
    font-family: "Lato";
    font-size: 16px;
    font-style: italic;
    margin-bottom: 80px; }
  .portfolio .container .boxes .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .portfolio .container .boxes .row .row-item {
      -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
      margin-bottom: 40px;
      transition: all 0.3s; }
      .portfolio .container .boxes .row .row-item .item-img img {
        width: 100%;
        height: 350px;
        -o-object-fit: cover;
        object-fit: cover;
        display: block; }
      .portfolio .container .boxes .row .row-item .item-text {
        padding: 25px 0;
        background: #ffffff; }
        .portfolio .container .boxes .row .row-item .item-text h3 {
          color: #333333;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: -0.45px; }
        .portfolio .container .boxes .row .row-item .item-text h4 {
          color: #737373;
          font-family: "Lato";
          font-size: 14px;
          font-style: italic; }

/* About **********************************************/
.about {
  padding: 120px 0; }
  .about h1 {
    text-align: center;
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: -1px; }
  .about h2 {
    text-align: center;
    color: #777777;
    font-family: "Lato";
    font-size: 16px;
    font-style: italic;
    margin-bottom: 80px; }
  .about .boxes .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 100px;
    position: relative; }
    .about .boxes .row::before {
      content: '';
      position: absolute;
      width: 3px;
      height: 105px;
      background: rgba(219, 219, 219, 0.603);
      left: 50%;
      bottom: -100px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .about .boxes .row .row-text {
      text-align: right;
      margin-right: 50px;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      margin-left: 149px; }
      .about .boxes .row .row-text h3 {
        color: #222222;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.45px;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 20px; }
      .about .boxes .row .row-text p {
        color: #777777;
        font-family: "Lato";
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.35px; }
    .about .boxes .row .row-img {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }
      .about .boxes .row .row-img img {
        width: 200px;
        height: 200px;
        display: block;
        border-radius: 50%;
        border: 6px solid rgba(219, 219, 219, 0.603);
        -o-object-fit: cover;
        object-fit: cover; }
  .about .boxes .row-different {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 100px;
    position: relative; }
    .about .boxes .row-different::before {
      content: '';
      position: absolute;
      width: 3px;
      height: 105px;
      background: rgba(219, 219, 219, 0.603);
      left: 50%;
      bottom: -100px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .about .boxes .row-different .row-text {
      text-align: left;
      margin-right: 146px;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      margin-left: 50px; }
      .about .boxes .row-different .row-text h3 {
        color: #222222;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.45px;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 20px; }
      .about .boxes .row-different .row-text p {
        color: #777777;
        font-family: "Lato";
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.35px; }
    .about .boxes .row-different .row-img {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }
      .about .boxes .row-different .row-img img {
        width: 200px;
        height: 200px;
        display: block;
        border-radius: 50%;
        margin-left: 95px;
        border: 6px solid rgba(219, 219, 219, 0.603);
        -o-object-fit: cover;
        object-fit: cover; }
  .about .row-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 498px;
    border: 6px solid rgba(219, 219, 219, 0.603);
    background: #fed136; }
    .about .row-circle p {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.45px; }

/* Team **********************************************/
.team {
  background: #f4f4f4;
  padding: 120px 0; }
  .team .container {
    text-align: center; }
    .team .container h1 {
      color: #222222;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -2px; }
    .team .container h2 {
      color: #777777;
      font-family: "Lato";
      font-size: 16px;
      font-style: italic;
      margin-bottom: 80px; }
    .team .container .boxes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .team .container .boxes .item {
        -ms-flex-preferred-size: 33.3334%;
        flex-basis: 33.3334%; }
        .team .container .boxes .item .item-photo {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .team .container .boxes .item .item-photo img {
            display: block;
            width: 280px;
            height: 280px;
            border-radius: 50%;
            border: 6px solid rgba(219, 219, 219, 0.603);
            -o-object-fit: cover;
            object-fit: cover; }
        .team .container .boxes .item h3 {
          color: #222222;
          font-size: 16px;
          font-weight: 700;
          font-weight: 700;
          letter-spacing: -0.4px;
          line-height: 50px; }
        .team .container .boxes .item h4 {
          color: #777777;
          font-family: "Lato";
          font-size: 14px;
          font-weight: 400;
          letter-spacing: -0.35px; }
        .team .container .boxes .item .item-socials ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .team .container .boxes .item .item-socials ul li a span {
            padding: 7px;
            margin: 10px;
            color: #000000;
            font-size: 23px;
            -webkit-box-shadow: 0 0 0 3px #000000;
            box-shadow: 0 0 0 3px #000000;
            border-radius: 50%;
            transition: all 0.3s; }
    .team .container p {
      color: #777777;
      font-family: "Lato";
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.4px;
      margin-top: 80px;
      width: 70%;
      margin-left: 15%; }

/* Brands **********************************************/
.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0; }
  .brands .box {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    margin: 30px; }
    .brands .box img {
      width: 100%;
      display: block;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: all 0.3s; }

/* Contact **********************************************/
.contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url(https://images.pexels.com/photos/41949/earth-earth-at-night-night-lights-41949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(https://images.pexels.com/photos/41949/earth-earth-at-night-night-lights-41949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 120px 0; }
  .contact .container h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px; }
  .contact .container h2 {
    color: #777777;
    font-family: "Lato";
    font-size: 16px;
    font-style: italic;
    margin-bottom: 80px; }
  .contact .container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .contact .container form .data {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 75%; }
      .contact .container form .data input {
        padding: 15px;
        width: 90%;
        margin: 23px 0;
        border-radius: 5px;
        outline: none;
        border: none;
        color: #bbbbbb;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.35px;
        transition: all 0.3s; }
    .contact .container form .message {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      height: 75%; }
      .contact .container form .message textarea {
        padding: 15px;
        width: 90%;
        height: 250px;
        border-radius: 5px;
        outline: none;
        color: #bbbbbb;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.35px;
        resize: none;
        transition: all 0.3s; }
    .contact .container form input[type=submit] {
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 25px 50px;
      background: #fed136;
      border: none;
      margin-top: 30px; }

/* footer **********************************************/
footer {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    margin-top: 5px; }
    footer ul li a span {
      color: #ffffff;
      background: #000000;
      padding: 12px;
      font-size: 20px;
      border-radius: 50%;
      transition: all 0.3s; }

/*# sourceMappingURL=style.css.map */
