/* Header **********************************************/

header .container .menu ul li a {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        height: 0;
        width: 3px;
        left: 0;
        top: 100%;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        background: $yellow;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    &::after {
        position: absolute;
        content: '';
        height: 3px;
        width: 0;
        left: 0;
        bottom: 0px;
        background: $yellow;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    &:hover::before {
        height: 80%;
    }
    &:hover::after {
        width: 100%;
    }
}

/* Portfolio **********************************************/

.portfolio .container .boxes .row .row-item:hover {
    box-shadow: 1px 1px 4px 2px $gray-transparent;
    transform: translateY(-2px);
    cursor: pointer;
}

/* Team **********************************************/

.team .container .boxes .item .item-socials ul li a span:hover {
    -webkit-box-shadow: 0 0 1px 4px $yellow;
            box-shadow: 0 0 1px 4px $yellow;
            transform: translateY(-3px);
}

/* Brands **********************************************/

.brands .box img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    cursor: pointer;
}

/* Contact **********************************************/

.contact .container form input[type=submit] {
    &:hover {
        cursor: pointer;
    }
}

.contact .container form input[type=text],
.contact .container form input[type=mail],
.contact .container form textarea {
    &:focus {
        box-shadow: 0 0 0 2px $yellow;
    }
}

/* Footer **********************************************/

footer ul li a span:hover {
    -webkit-box-shadow: 0 0 1px 4px $yellow;
            box-shadow: 0 0 1px 4px $yellow;
            transform: translateY(-3px);
}