$white: #ffffff;
$gray: #f4f4f4;
$dark-font: #222222;
$gray-font: #777777;
$gray-font-lighten: #737373;
$black: #000000;
$yellow: #fed136;
$gray-transparent: rgba(219, 219, 219, 0.603);
$form-gray: #bbbbbb;

$gradient-dark-low: rgba(0,0,0,0.2);
$gradient-dark-high: rgba(0,0,0,0.7);