@import 'variables';
@import 'mixins';
// @import 'hovers';
// @import 'media';

/* Global + reusable + hamburger menu *********************/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.hamburger {
    display: none;
    position: absolute;
    right: 55px;
    top: 38px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    .bar {
        width: 50px;
        height: 4px;
        background: $yellow;
        transition: all 0.3s;
        position: relative;
        right: 5px;
        top: 15px;
        &::before {
            content: '';
            position: absolute;
            width: 50px;
            height: 4px;
            background: $yellow;
            top: 15px;
            transition: all 0.3s;
        }
        &::after {
            content: '';
            position: absolute;
            width: 50px;
            height: 4px;
            background: $yellow;
            bottom: 15px;
            transition: all 0.3s;
        }
    }
}

/* Header **********************************************/

header {
    position: relative;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from($gradient-dark-high), to($gradient-dark-low)), url(https://images.pexels.com/photos/1712/sunglasses-apple-iphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center center;
    background: linear-gradient($gradient-dark-high, $gradient-dark-low), url(https://images.pexels.com/photos/1712/sunglasses-apple-iphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    nav.container {
        @include display-flex;
        @include justify-content-space-between;
        @include align-items-center;
        padding-top: 30px;
        .menu {
            ul {
                @include display-flex;
                li a {
                    padding: 15px;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 41px;
                    text-transform: uppercase;
                }
            }
        }
        .brand {
            z-index: 3;
            a {
                color: $yellow;
                font-family: 'Dancing Script';
                font-size: 26px;
                font-weight: 400;
                line-height: 41px;
                letter-spacing: 1.3px;
            }
        } 
    }
    .hero.container {
        text-align: center;
        margin-top: 170px;
        color: $white;
        .hero-title {
            h1 {
                font-family: 'Lato', sans-serif;
                font-size: 40px;
                font-style: italic;
                letter-spacing: -1px;
            }
            h2 {
                font-size: 65px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: -1.88px;
            }
        }
        .hero-btn {
            margin-top: 80px;
            a {
                padding: 25px 50px;
                background: $yellow;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}

/* Services **********************************************/

.services {
    text-align: center;
    padding: 145px 0 120px 0;
    h1 {
        color: $dark-font;
        font-size: 40px;
        font-weight: 700;
        line-height: 45px;
        text-transform: uppercase;
        letter-spacing: -1px;
        margin-bottom: 20px;
    }
    h2 {
        color: $gray-font;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-style: italic;
        margin-bottom: 80px;
    }
    .boxes {
        @include display-flex;
        @include justify-content-center;
        @include align-items-center;
        .item {
            -ms-flex-preferred-size: 33.33334%;
                flex-basis: 33.33334%;
            h3 {
                color: $dark-font;
                font-size: 18px;
                font-weight: 700;
                line-height: 75px;
                letter-spacing: -0.45px;
            }
            p {
                color: $gray-font;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -0.35px;
                line-height: 20px;
            }
        }
    }
}

/* Portfolio **********************************************/

.portfolio {
    background: $gray;
    text-align: center;
    padding: 120px 0;
    h1 {
        color: $dark-font;
        font-size: 40px;
        font-weight: 700;
        line-height: 75px;
        text-transform: uppercase;
        letter-spacing: -1px;
    }
    h2 {
        color: $gray-font;
        font-family: "Lato";
        font-size: 16px;
        font-style: italic;
        margin-bottom: 80px;
    }
    .container .boxes .row {
        @include display-flex;
        @include justify-content-space-between;
        @include align-items-center;
        @include flex-wrap-wrap;
        .row-item {
            -ms-flex-preferred-size: 31%;
                flex-basis: 31%;
            margin-bottom: 40px;
            transition: all 0.3s;
            .item-img img {
                width: 100%;
                height: 350px;
                @include object-fit-cover;
                display: block;
            }
            .item-text {
                padding: 25px 0;
                background: $white;
                h3 {
                    color: #333333;
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: -0.45px;
                }
                h4 {
                    color: $gray-font-lighten;
                    font-family: "Lato";
                    font-size: 14px;
                    font-style: italic;
                }
            }
        }
    }
}

/* About **********************************************/ 

.about {
    padding: 120px 0;
    h1 {
        text-align: center;
        color: $dark-font;
        font-size: 40px;
        font-weight: 700;
        line-height: 75px;
        text-transform: uppercase;
        letter-spacing: -1px;
    }
    h2 {
        text-align: center;
        color: $gray-font;
        font-family: "Lato";
        font-size: 16px;
        font-style: italic;
        margin-bottom: 80px;
    }
    .boxes .row {
        @include display-flex;
        @include justify-content-flex-start;
        margin-bottom: 100px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 3px;
            height: 105px;
            background: $gray-transparent;
            left: 50%;
            bottom: -100px;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
        }   
        .row-text {
            text-align: right;
            margin-right: 50px;
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
            margin-left: 149px;
            h3 {
                color: $dark-font;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: -0.45px;
                text-transform: uppercase;
                margin-bottom: 20px;
                margin-top: 20px;
            }
            p {
                color: $gray-font;
                font-family: "Lato";
                font-size: 15px;
                font-weight: 400;
                letter-spacing: -0.35px;
            }
        }
        .row-img {
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
            img {
                width: 200px;
                height: 200px;
                display: block;
                border-radius: 50%;
                border: 6px solid $gray-transparent;
                @include object-fit-cover;
            }
        }
    }
    .boxes .row-different {
        @include display-flex;
        @include justify-content-flex-end;
        margin-bottom: 100px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 3px;
            height: 105px;
            background: $gray-transparent;
            left: 50%;
            bottom: -100px;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
        } 
        .row-text {
            text-align: left;
            margin-right: 146px;
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
            margin-left: 50px;
            h3 {
                color: $dark-font;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: -0.45px;
                text-transform: uppercase;
                margin-bottom: 20px;
                margin-top: 20px;
            }
            p {
                color: $gray-font;
                font-family: "Lato";
                font-size: 15px;
                font-weight: 400;
                letter-spacing: -0.35px;
            }
        }
        .row-img {
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
            img {
                width: 200px;
                height: 200px;
                display: block;
                border-radius: 50%;
                margin-left: 95px;
                border: 6px solid $gray-transparent;
                @include object-fit-cover;
            }
        }
    }
    .row-circle {
        @include display-flex;
        @include align-items-center;
        @include justify-content-center;
        text-align: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: 498px;
        border: 6px solid $gray-transparent;
        background: $yellow;
        p {
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
            color: $white;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -0.45px;
        }
    }
}
